@model ModelViewController.DAL.Entities.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img style="width:500px; height:auto;" class="img-thumbnail" src="@Model.Photo" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAwards)
        </dt>
        <dd class="col-sm-10">
            <div class="row">
                @foreach (var award in Model.UserAwards)
                {
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <img class="img-thumbnail" src="@award.Award.Image" title="@award.Award.Title" />
                        </div>
                    </div>
                }
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class='fas fa-pencil-alt'></i> Edit</a>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>
