@model ModelViewController.Models.UserModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img id="img" style='width:200px; height:auto;' class="img-thumbnail" src="@Model.PhotoSrc" />
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    @if (ViewBag.Awards != null)
                    {
                        foreach (var award in ViewBag.Awards)
                        {
                            <div class="col-md-3">
                                <div class="custom-control custom-checkbox image-checkbox">
                                    <input type="checkbox" name="Awards" value="@award.Id" id="@award.Id" class="custom-control-input"
                                           @(Model.Awards.Contains(award.Id) ? "checked=\"checked\"" : "") />
                                    <label class="custom-control-label" for="@award.Id">
                                        <img class="img-fluid" src="@award.Image" title="@award.Title" />
                                    </label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">        
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
            
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Photo").change(function(){
            readURL(this);
        });
    </script>
}


