@model IEnumerable<ModelViewController.DAL.Entities.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@if (User.IsInRole("admin") || User.IsInRole("candidate"))
{
    <p>
        <a class="btn btn-success btn-sm" asp-action="Create">
            <i class="fa fa-plus"></i>
            Create
        </a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    @Html.DisplayName("Awards")
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style='width:80px; height:auto;' src="@item.Photo" class="rounded-circle" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @(DateTime.Now.Year - item.Birthdate.Year)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <div class="row">
                            @foreach (var award in item.UserAwards)
                            {
                                <p>
                                    <div class="custom-control custom-checkbox image-checkbox">
                                        <a asp-controller="Awards" asp-action="Details" asp-route-id="@award.Award.Id">
                                            <img style='width:80px; height:auto;' class="img-thumbnail" src="@award.Award.Image" title="@award.Award.Title" />
                                        </a>
                                    </div>
                                </p>
                            }
                        </div>
                    </td>
                    @if (User.IsInRole("admin") || User.IsInRole("candidate"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="edit"><i class='fas fa-pencil-alt'></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info" title="details"><i class="fa fa-info"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="delete"><i class="fa fa-trash"></i></a>
                            <a asp-action="AddAwards" asp-route-id="@item.Id" class="btn btn-sm btn-success" title="add awards"><i class="fa fa-award"></i></a>
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-action="ChangeRole" asp-route-id="@item.Id" class="btn btn-sm btn-secondary" title="change role"><i class="fa fa-users"></i></a>
                            }
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary btn-sm" asp-action="Download">
        <i class="fa fa-file"></i>
        Export to file
    </a>
</p>
